apiVersion: 1
datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - name: trace_id
          matcherRegex: '"trace_id"\s*:\s*"([a-f0-9]{32})"'
          datasourceUid: tempo
          url: "$${__value.raw}"

  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: loki
        spanStartTimeShift: "1h"
        spanEndTimeShift: "1h"
        tags: ["service.name"]
        mappedTags:
          - key: service.name
            value: service
        filterByTraceID: true
        filterBySpanID: false

  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    jsonData:
      httpMethod: POST
      manageAlerts: true
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo

  - name: Mimir
    uid: mimir
    type: prometheus
    access: proxy
    url: http://mimir:9009/prometheus
    isDefault: false
    jsonData:
      httpMethod: POST
      httpHeaderName1: X-Scope-OrgID
    secureJsonData:
      httpHeaderValue1: anonymous

  - name: Elasticsearch
    uid: elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: products
    isDefault: false
    jsonData:
      esVersion: "8.0.0"
      timeField: "indexed_at"
      timeInterval: "10s"
      includeFrozen: false
