apiVersion: 1
datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - name: trace_id
          matcherRegex: '"trace_id"\s*:\s*"([a-f0-9]{32})"'
          datasourceUid: tempo
          url: "$${__value.raw}"

  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: loki
        spanStartTimeShift: "1h"
        spanEndTimeShift: "1h"
        tags: ["service.name"]
        mappedTags:
          - key: service.name
            value: service
        filterByTraceID: true
        filterBySpanID: false
