server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ["__meta_docker_container_name"]
        target_label: "container"
        regex: "/(.*)"
      - source_labels:
          ["__meta_docker_container_label_com_docker_compose_service"]
        target_label: "service"
      - source_labels:
          ["__meta_docker_container_label_com_docker_compose_project"]
        target_label: "compose_project"
    pipeline_stages:
      - json:
          expressions:
            level: level
            msg: msg
            method: fields.method
            path: fields.path
            status: fields.status
            size: fields.size
            duration: fields.duration
            trace_id: fields.trace_id
            span_id: fields.span_id
      - labels:
          level:
          method:
          path:
          status:
          trace_id:
